__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
.env
.garage_conf/data
.garage_conf/meta
site/
sync/worker/tests/
monitoring/*
!monitoring/rabbitmq/
monitoring/rabbitmq/*
!monitoring/rabbitmq/20-prometheus.conf
.gitlab*
.coverage
scripts